/* CSS VARIABLES */
:root{
  --DarkGreen: rgb(50, 116, 88) ;
  --Cream: rgba(255, 242, 215, 0.945);
  --bright: rgb(255, 217, 0);
  
  /* Ben's */
  font-size: 18px;
  --color-cream: #FFFDD0;
  --color-teal: #008080;
}

/* Ben's CSS line 14 - line 64 */
.App {
  text-align: center;
}

.loader {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
}

.main-content {
  padding: 1em 2em;
}

.not-found {
  text-align: center;
}

.navbar-bg {
  position: relative;
  background-color: var(--color-teal);
  text-align: center;
  padding: 1rem;
}

.covid-text{
  color: var(--color-cream);
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
}

.covid-text span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.location-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-cream);
  text-align: start;
  padding: .6rem 5.5rem .6rem .6rem
}

.search-field{
  border-radius: 2.8rem;
  padding: 0.15rem 1rem;
  width: 18rem;

}

datalist {
  width: 15rem;
}



/* Hafseeman's CSS Line 68 - Line 150*/
.dark-green{
  color: var(--DarkGreen);
}
.text-bright{
  color: var(--bright);
}
.bg-cream{
  background-color: var(--Cream);
}

.underline{
  text-decoration: underline;
}
.display{
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.display-inner{
  background-color: rgba(17, 83, 42, 0.767);
}


/*RANKING TABLE*/


/* Three column layout */
.label {
  display: inline-block;
  width: 100%;
  margin: 1px;
  text-align: left;
}
.middle {
  width: 70%;
  float: left;
}
.side-label {
  float: right;
  width: 10%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-1 {width: 70%; height: 18px; background-color: #ffc23d;}
.bar-2 {width: 45%; height: 18px; background-color: #531a9e;}
.bar-3 {width: 40%; height: 18px; background-color: #93e215;}
.bar-4 {width: 30%; height: 18px; background-color: #2fb415;}
.bar-5 {width: 20%; height: 18px; background-color: #4d84fa;}
.bar-6 {width: 10%; height: 18px; background-color: #df2e9b;}


/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }

  .location-text h5 {
    font-size: 1em;
  }

  .location-text {
    position: absolute;
    font-size: 1em;
    bottom: 0;
    right: 0;
    background-color: var(--color-cream);
    text-align: start;
    padding: .3em 3.5em .3em .3em
  }
}